<!DOCTYPE html>
<html>
  <head>
    <title>Oversight</title>

    <%= stylesheet_link_tag    "oversight/application", media: "all" %>
    <%= javascript_include_tag "oversight/application" %>

    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
